body{
    max-width: 100%;
}
#titolo {
    background-color: black;
    color: whitesmoke;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    
}
.titoli {
    display: flex;
    background-color: rgb(95, 93, 93); 
    margin: 0px 10px;
    align-items: center;
    justify-content: center;
}
.sezioni{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(95, 93, 93); 
    padding: 20px;
    margin: 0px 10px;
}
.sezioni > div {
    background-color:rgb(197, 197, 197);
    padding: 10px;
}

button{ /*Gestione dei bottoni*/
    cursor: pointer;
    background-color: rgb(51, 50, 50);
    color: rgb(214, 214, 214);
    border-radius: 5px;
} 
#footer {
    background-color: rgb(24, 21, 21);
    color: whitesmoke;
    text-align: center;
    margin: 0px 10px;
    height: 100px;
    padding: 10px;
}
.ultimo :hover {
    color: white;
}
.descrizioni {
    list-style: none;
}